.git/
*.iml
out/
*.ipr
*.iws
classpath.txt
version.properties
.project
.classpath
lib/*
build/*
generated/*
generated-files/*
generated-sources/*
generated-code/*
node_modules/*
cache/*
*.swp
*.swo
*.bak
project/
samples/*
.idea/
.lib/
.DS_Store
